{% extends 'index.html' %}

{% block head %}
    <title>Computers</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/computers.css') }}">
{% endblock %}

{% block body %}
    <div class="computer-list">
        {% if len(computers) %}
            {% for comp in computers %}
                <div class="computer"
                     style="{% if computer.timeout <= 0 %}bg: yellow{% else %}bg: green{% endif %}">


                    <p>Имя: <span class="comp-arg">{{ comp.name }}</span></p>
                    <p>Адресс: <span class="comp-arg">{{ comp.adr }}</span></p>

                    {% for but_name in comp.buttons %}
                        <a href="/{{ user_name }}/computers/{{ comp.adr }}/button_click/{{ but_name }}">
                            <button type="button">{{ comp.buttons[but_name].text }}</button>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
            <a class="off-all-computers" href="{{ user_name }}/computers/disable_all">
                <button class="button off-all-computers-button">Выключить все</button>
            </a>
        {% endif %}

        {% if not len(computers) %}
            <p>Нет подключенных компьютеров!</p>
            <p>Используйте IP: {{ ip }}, PORT: {{ port }}</p>
        {% endif %}
    </div>

{% endblock %}