{% extends 'index.html' %}

{% block head %}
    <title>Log in</title>
{% endblock %}

{% block body %}
    <div class="auth">
        <form method="post">
            <input type="text" name="login" placeholder="Логин"><br/>
            <input type="password" name="password" placeholder="Пароль"><br/>
            <input type="submit" title="Log in"><br/>
        </form>

        {% if wrong %}
            <span class="error-text">Invalid login or password</span>
        {% endif %}
    </div>
{% endblock %}